* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 50.5%;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: -8rem;
  padding: 3rem;
  z-index: 99999;
  animation: animationNavbar 1s 0.5s forwards;
  transition: height 0.5s;
}

.navbar.change {
  height: 100dvh;
}

@keyframes animationNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}
.navbar-logo {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}

.navbar-logo a {
  font-family: "Martel Sans", sans-serif;
  font-size: 2.5rem;
  color: #eee;
  letter-spacing: 0.1rem;
}

.navbar-logo span {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ad580e;
  font-family: "Martel Sans", sans-serif;
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 99999;
  top: 2rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}
.line-3 {
  width: 50%;
  align-self: flex-end;
}

.change .line-1 {
  transform: translate(30%, 0.5rem) rotate(-135deg);
  transform-origin: right;
}

.change .line-3 {
  transform: translate(-70%, -0.5rem) rotate(135deg);
  transform-origin: right;
}

.nav-list {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: white;
  margin: 2rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: #9e0e09;
}
.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}
/* End Navbar */

/* Secciones */

/* Beging Section-1  */
.section-1 {
  width: 100%;
  height: 100dvh;
  background: url(../img/fondo-header.jpg) no-repeat;
  background-size: cover;
}

.banner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.banner-heading {
  height: 20rem;
  margin-bottom: 4rem;
  perspective: 50rem;
  overflow: hidden;
}

.banner-heading span {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(8rem);
  opacity: 0;
}
/* Usar Animacion para cada text headings */
.heading-1 {
  animation: animarEncabezado 16s 0s infinite;
}
.heading-2 {
  animation: animarEncabezado 16s 4s infinite;
}
.heading-3 {
  animation: animarEncabezado 16s 8s infinite;
}
.heading-4 {
  animation: animarEncabezado 16s 12s infinite;
}

/* Animacion de headding */
@keyframes animarEncabezado {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
  }
  5% {
    transform: translateZ(0);
    opacity: 1;
  }
  20% {
    transform: translateZ(0);
    opacity: 1;
  }
  25% {
    transform: translateZ(8rem);
    opacity: 0;
  }
  100% {
    transform: translateZ(8rem);
    opacity: 0;
  }
}

.banner-paragraph {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
  margin: 0 auto 3rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  animation: animationOpening 1s 1.5s forwards;
}

@keyframes animationOpening {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.banner-btn {
  width: 20rem;
  height: 6rem;
  background: linear-gradient(to right, #9b0e0e, #7a1010);
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: 0.1rem solid #800505;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: relative;
  overflow: hidden;
  animation: animationOpening 1s 2s forwards;
}

.banner-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.5s;
}

.banner-btn:hover:before {
  left: 100%;
}

/* End Section-1 */

/* beging Section-2 VIDEO */

.section-2 {
  width: 100%;
  height: 100dvh;
  background-color: #222020;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}
.section-heading {
  font-size: 10rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ddd;
  margin-right: 2rem;
}

.section-heading-line {
  width: 15rem;
  height: 0.2rem;
  background-color: #ddd;
}

.video-wrapper {
  width: 70rem;
  height: 35rem;
  position: absolute;
  top: 15rem;
  right: 10rem;
  box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(calc(100% - 0.4rem));
  transition: transform 0.4s;
}
.video-wrapper:hover .controls {
  transform: translateY(0);
}
.video-bar-wrapper {
  width: 100%;
  height: 0.7rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
.video-bar {
  height: 100%;
  width: 0;
  background-color: #d30819;
  transition: width 0.2s linear;
}
.buttons {
  padding: 0.5rem 0.1rem 0.1rem 0.1rem;
}

.buttons i {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
}
.buttons button {
  background: none;
  border: none;
  cursor: pointer;
}
.section-2-paragraph {
  width: 70rem;
  position: absolute;
  font-size: 1.5rem;
  bottom: 14rem;
  right: 10rem;
  line-height: 1.5rem;
  color: #ddd;
  border-top: 0.3rem double #aaa;
  border-bottom: 0.3rem double #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
}

.fa-quote-left {
  align-self: flex-start;
  font-size: 3rem;
  color: #ddd;
}

.fa-quote-right {
  align-self: flex-end;
  font-size: 3rem;
  color: #ddd;
}
/* End Section-2 */

/* Section 3 */
.section-3 {
  width: 100%;
  height: 100dvh;
  background-color: #03070e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  /* overflow: hidden; */
}
.price-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.price-card {
  width: 28rem;
  height: 45rem;
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}

.price-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price-card-heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
}

.price-card-price {
  font-family: "Martel Sans", sans-serif;
  font-size: 7rem;
  color: white;
  font-weight: 400;
}

.price-card-list li {
  margin-bottom: 0.5rem;
}
.price-card-list i {
  font-size: 1.8rem;
  width: 3rem;
}
.price-card-list span {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.price-card-btn {
  width: 15rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  color: white;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}
/* Efecto de brillo chido */
.price-card-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.5s;
}

.price-card-btn:hover:before {
  left: 100%;
}

.heading-free {
  background: linear-gradient(to right, #087285, #0da5d3);
}

.list-free {
  color: #0da5d3;
}

.btn-free {
  background-color: #0da5d3;
}

.heading-basic {
  background: linear-gradient(to right, #946809, #bdba0e);
}
.list-basic {
  color: #bdba0e;
}

.btn-basic {
  background-color: #bdba0e;
}

.heading-pro {
  background: linear-gradient(to right, #a10c14, #e23b3b);
}
.list-pro {
  color: #e23b3b;
}

.btn-pro {
  background-color: #e23b3b;
}

.heading-plus {
  background: linear-gradient(to right, #0e7e48, #3be286);
}
.list-plus {
  color: #3be286;
}

.btn-plus {
  background-color: #3be286;
}

/* End section 3 */

/* Section 4 Contacto */

.section-4 {
  width: 100%;
  height: 100dvh;
  background-color: #171718;
  display: flex;
  align-items: center;
  padding: 0 10rem;
}

.contact-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contact-details div {
  width: 25rem;
  text-align: center;
  margin: 4rem;
}

.contact-details i {
  font-size: 5rem;
  color: #7a1010;
}

.contact-details h3 {
  font-family: "Martel Sans", sans-serif;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #ccc;
}

.contact-details p {
  font-size: 1.6rem;
  color: #ccc;
}

.contact-wrapper h1 {
  font-size: 4rem;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.contact-form {
  width: 70rem;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.contact-form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 15rem;
  min-height: 5rem;
}

.contact-form input[type="submit"] {
  background-color: #7a1010;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #5f0303;
}

/* End Section 4 */

/* Footer */
.footer {
  background-color: #202122;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.footer-nav a {
  font-family: "Martel Sans", sans-serif;
  font-size: 2rem;
  margin-right: 3rem;
  color: #ccc;
  letter-spacing: 0.1rem;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #862323;
}
.curso {
  display: flex;
  flex-direction: column;
}
.copyright {
  font-size: 3rem;
  color: #ddd;
}
.estudiante {
  font-size: 2.5rem;
  color: #ddd;
}
